<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>

        <partial name="Partial/_TableResponsiveCartInfo_Cart"/>

    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>What would you like to do next?</h3>
            <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <partial name="Partial/_ChoseArea_Cart"/>
            </div>
            <div class="col-sm-6">
                <partial name="Partial/_TotalArea_Cart"/>
            </div>
        </div>
    </div>
</section><!--/#do_action-->